

.colorwhitetext {
  color:black;
}

.bottomsection {
  position: absolute;
  bottom:0;
}

.sidebar {
  width: 10%;
  float: top;
  background-color: #4EFFEF;
}

.column {
  width: 300px;
  float: left;
}
